<div ng-controller="ATGController" ng-init="getAllATG()">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">ATG</h1>
</div>
<div class="wrapper-md">
    <div class="col-md-2">
        Select Site :
    </div>
    <div class="col-md-2">
        <select ng-model="selectedSite" ng-options="item.id as item.name for item in sites" ng-change="changeSite(selectedSite)"
                class="form-control ng-pristine ng-untouched ng-valid"
        ></select>
    </div>
    <hr>
    <div class="panel panel-default">
    <div class="panel-heading font-bold">
        ATG List<a ui-sref="app.atg_new({site_id:selectedSite})" class="btn-sm btn-primary pull-right"> Add New</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" st-table="displayCollection" st-safe-src="rowCollection">
            <thead>
            <tr>
                <th style="width:25%" st-sort="name">Name</th>
                <th style="width:25%" st-sort="ip_address">IP Address</th>
                <th style="width:25%" st-sort="created_at">Created Date</th>
                <th style="width:25%" >Actions</th>
            </tr>
            <tr>
                <th colspan="6">
                    <input st-search placeholder="search" class="input-sm form-control" type="search"
                           ng-model="searchReading"/>
                </th>
                <th></th>
            </tr>
            </thead>

            <tbody>
                <tr ng-repeat="atg in displayCollection">
                  <td>{{atg.name}}</td>
                  <td>{{atg.ip_address}}</td>
                  <td>{{atg.created_at}}</td>
                  <td>
                      <button class="btn btn-sm btn-icon btn-green" ui-sref="app.atg_edit({ id: atg.id })"
                              data-toggle="tooltip" tooltip="Edit" tooltip-placement="right">
                          <i class="fa fa-pencil"></i></button>
                      <button class="btn btn-sm btn-icon btn-warning" ng-click="deleteConfirm(atg.id)"
                              data-toggle="tooltip" tooltip="Delete" tooltip-placement="left">
                          <i class="fa fa-trash"></i></button>
                  </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                   <div st-pagination st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="uploadSIGNFileModal.html">
    <div class="modal-body">
        <div>
            <div id="signature-pad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <h4>Are You Sure You want to Delete this?</h4>
                </div>
                <div class="m-signature-pad--footer">
                    <button type="button" class="btn btn-dark" ng-click="confirm()">Confirm</button>
                    <button type="button" class="btn btn-dark" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>
