
<div ng-controller="DashboardController" ng-init="getAllSites()">
<div class="loading-spiner" style="display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;margin: auto;width: 100px;height: 100px;"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" /> </div>
    <div class="wrapper-md">
        <div class="col-md-2">
            Select Site :
        </div>
        <div class="col-md-2">
            <select ng-model="selectedSite" ng-options="item as item.name for item in sites track by item.id"
                    ng-change="changeSite()"
                    class="form-control ng-pristine ng-untouched ng-valid"></select>
        </div>
        <hr>
        <!--<div class="row" id="chartdiv">-->
        <!--<am-chart id="myFirstChart" options="amChartOptions" ng-if="amChart"></am-chart>-->
        <!--</div>-->
        <br>
        <!--<div class="row"><div id="chartdiv"></div>	</div>-->
        <div class="row">
            <div class="col-md-12" ng-repeat="tank in chartTanks">
                <div class="col-lg-2 no-padder">
                    <div class="panel panel-default no-padder">
                        <div class="panel-body text-center no-padder">
                            <div class="inline m-t m-b">
                                <div ui-jq="easyPieChart" ui-options="{
                                      percent: '{{tank.graph.percentage}}',
                                      lineWidth: 10,
                                      trackColor: '{{app.color.light}}',
                                      barColor: '{{app.color.info}}',
                                      scaleColor: false,
                                      size: 158,
                                      rotate: '{{tank.graph.rotate}}',
                                      lineCap: 'butt'
                                    }">
                                    <div>
                                        <span class="h2 m-l-sm step">{{tank.graph.percentage}}%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="h3 text-black ">{{tank.graph.name}}</div>
							<div class="text-light" style="color:green"><b>Last Updated: {{tank.graph.TransactionLastUpdate}}</b></div>
                            <div class="text-light">{{tank.graph.grade_name}}</div>
                            <div class="text-light m-b">{{tank.graph.current}}/{{tank.graph.total}}</div>
				        </div>
                    </div>
                </div>
				<div class="col-lg-10 my_txt">
				<div class="row">
                <div class="col-md-4" ng-repeat="pump in tank.pumps" style="height: 105px;">
                    <div class="panel panel-default">
                        <div class="panel-body no-padder m-sm">
                            <div class="col-md-3 col-xs-3 no-padder">
                                <img src="img/pump-blue.png" ng-if="pump.date_diff <= 12">
                                <img src="img/pump-red.png" ng-if="pump.date_diff > 12">
                            </div>
                            <div class="col-md-9 col-xs-9 r-no-padder">
                                <div class="font-bold">{{pump.name}}</div>
                                <div ng-repeat="transaction in pump.customer_transactions | orderBy: '-end_date'">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-4 r-no-padder">{{transaction .litres | number:2}}L</div>
                                        <div class="col-md-3  col-xs-3 r-no-padder">{{transaction.end_date | myCustomDatefilter }}
                                        </div>
                                        <div class="col-md-5 col-xs-5 r-no-padder">{{transaction.attendant_name}}</div>
                                    </div>
                                    <!--<div>{{transaction .litres}}L<span class="m-l">{{transaction.created_at}}</span></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
            </div></div>
        </div>
        <div ng-include="'views/dashboard2.html'"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" ng-repeat="site in sites" ng-show="site.name == selectedSite.name">
                    <div class="panel-heading">
                        <span class="font-bold h5">{{site.name}}</span>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped" st-table="displayCollection" st-safe-src="rowCollection">
                            <thead>
                            <tr>
                                <th style="width:10%" st-sort="name">Name</th>
                                <th style="width:10%" st-sort="initial_level">Initial Level</th>
                                <th style="width:15%" st-sort="litre">Current Fuel Level</th>
                                <th style="width:15%" st-sort="last_dip_reading">Last Dip Reading</th>
                                <th style="width:15%" st-sort="cur_atg_level">Current ATG Level</th>
                                <th style="width:15%" st-sort="updated_at">Updated Date</th>
                            </tr>
                            <tr>
                                <th colspan="7">
                                    <input st-search placeholder="search" class="input-sm form-control" type="search"
                                           ng-model="searchTank"/>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="tank in displayCollection">
                                <td>{{tank.name}}</td>
                                <td>{{tank.initial_level | number:2}}</td>
                                <td>{{tank.litre | number:2}}</td>
                                <td>{{tank.last_dip_reading | number:2}}</td>
                                <td>{{tank.cur_atg_level | number:2}}</td>
                                <td>{{tank.updated_at}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination st-items-by-page="10" st-displayed-pages="5"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>