<div ng-controller="FuelDropController" ng-init="getAllFuelDrop()">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Fuel Drop</h1>
</div>
<div class="wrapper-md">
    <div class="col-md-2">
        Select Site :
    </div>
    <div class="col-md-2">
        <select ng-model="selectedSite" ng-options="item as item.name for item in sites.data track by item.id" ng-change="changeSite()"
                class="form-control ng-pristine ng-untouched ng-valid"
        ></select>
    </div>
    <hr>
    <div class="panel panel-default" ng-repeat="site in sites.data" ng-show="site.name == selectedSite.name">
    <div class="panel-heading ">
        <span class="font-bold h5">{{site.name}}</span>
        <a ng-click="createFuelDrop(site.id)" class="btn-sm btn-primary pull-right"> Add New</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" st-table="displayCollection" st-safe-src="rowCollection">
            <thead>
            <tr>
                <th style="width:20%" st-sort="">Supplier</th>
                <th style="width:20%" st-sort="">Tank</th>
                <th style="width:20%" st-sort="litres">Litres</th>
                <th style="width:20%" st-sort="purchase_date">Purchase Date</th>
                <th style="width:20%" >Actions</th>
            </tr>
            <tr>
                <th colspan="6">
                    <input st-search placeholder="search" class="input-sm form-control" type="search" ng-model="searchPump"/>
                </th>
            </tr>
            </thead>

            <tbody>
                <tr ng-repeat="fueldrop in displayCollection">
                  <td>{{fueldrop.supplier.name}}</td>
                  <td>{{fueldrop.tank.name}}</td>
                  <td>{{fueldrop.litres | number:2}}</td>
                  <td>{{fueldrop.purchase_date}}</td>
                  <td>
                      <button class="btn btn-sm btn-icon btn-green" ui-sref="app.fuel_drop_edit({ id: fueldrop.id })"
                              data-toggle="tooltip" tooltip="Edit" tooltip-placement="right"><i
                              class="fa fa-pencil"></i></button>
                      <button class="btn btn-sm btn-icon btn-warning" ng-click="deleteConfirm(fueldrop.id)"
                                                    data-toggle="tooltip" tooltip="Delete" tooltip-placement="left"><i
                                                    class="fa fa-trash"></i></button>

                  </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                   <div st-pagination st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="uploadSIGNFileModal.html">
    <div class="modal-body">
        <div>
            <div id="signature-pad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <h4>Are You Sure You want to Delete this?</h4>
                </div>
                <div class="m-signature-pad--footer">
                    <button type="button" class="btn btn-dark" ng-click="confirm(fuel_id)">Confirm</button>
                    <button type="button" class="btn btn-dark" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>