<div ng-controller="SiteController" ng-init="getAllSites()">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Sites</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
        Sites Lists <a ui-sref="app.sites_new" class="btn-sm btn-primary pull-right"> Add New</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" st-table="displayCollection" st-safe-src="rowCollection">
            <thead>
            <tr>
                <th style="width:25%" st-sort="name">Name</th>
                <th style="width:25%" st-sort="created_at">Created Date</th>
                <th style="width:25%" st-sort="updated_at">Updated Date</th>
                <th style="width:25%" >Actions</th>
            </tr>
            <tr>
                <th colspan="6">
                    <input st-search ng-model="searchSite" placeholder="search" class="input-sm form-control"
                           type="search"/>
                </th>
                <th></th>
            </tr>
            </thead>

            <tbody>
  <tr ng-repeat="site in displayCollection">
                  <td>{{site.name}}</td>
                  <td>{{site.created_at}}</td>
                  <td>{{site.updated_at}}</td>
                  <td>
                      <button class="btn btn-sm btn-icon btn-green" ui-sref="app.sites_edit({ id: site.id })"
                              data-toggle="tooltip" tooltip="Edit" tooltip-placement="right"><i
                              class="fa fa-pencil"></i></button>
                      <button class="btn btn-sm btn-icon btn-warning" ng-click="deleteConfirm(site.id)"
                              data-toggle="tooltip" tooltip="Delete" tooltip-placement="left">
                          <i class="fa fa-trash"></i></button>
                  </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="deleteFileModal.html">
    <div class="modal-body">
        <div>
            <div class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <h4>Are You Sure You want to Delete this?</h4>
                </div>
                <div class="m-signature-pad--footer">
                    <button type="button" class="btn btn-dark" ng-click="confirm()">Confirm</button>
                    <button type="button" class="btn btn-dark" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>